body{
  background:rgb(235, 229, 229);
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.container{
text-align: center;
}
.box{
  width: 300px;
  height: 500px;
  position: relative;
   border-radius: 32px;
   background: yellow;
   padding:29px;
  box-shadow: inset 5px 5px 13px rgb(234, 175, 234), 5px 5px 15px rgb(155, 112, 167);
  overflow: hidden;
}
.box::before{
  content:'';
  position: absolute;
  top:50%;
  width: 700px;
  height: 200px;
  background: linear-gradient(transparent, rgb(229, 60, 60), red,rgb(212, 60, 60),transparent);
  animation: animate 6s linear infinite;
 
}
@keyframes animate
{
  0%{
    transform: translate(-50%,-50%) rotate(0deg);
  }
  100%{
    transform: translate(-50%,-50%) rotate(360deg);
  }
  
}
.table{
  width: 295px;
  height: 495px;
  z-index: 1;
  position:absolute;
   border-radius: 32px;
   background: rgb(243, 243, 241);
   padding:28px;
  margin:auto;
  inset: 2px;
 

}
input{
  

  font-size: 20px;
  height: 60px;
  width: 222px;
  border-radius: 20px;
  outline: none;
  text-align:end;
  box-shadow: inset 6px 6px 13px rgb(161, 157, 157),6px 6px 13px rgb(39, 24, 24);
  font-weight: bold;
  font-size: 40px;
  color: black;
  margin-bottom: 40px;
  

}
button{
  background-color:rgb(241, 241, 240);
  width:65px;
  height:65px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 25px;
  font-weight: bolder;
  border: none;
  box-shadow: inset 3px 3px 7px rgb(108, 110, 108), 3px 4px 3px black;
  margin:3px;
  outline: none;
}
button:hover{
  background-color: rgb(189, 190, 196);
}
.operators{
  background-color: rgb(182, 186, 236);
}
.operators:hover{
    background-color:rgb(153, 158, 225);
}
.span-two{
  width:133px;
  background-color:red;
  color: white;
}
.span-two:hover{
  background-color: rgb(245, 62, 30);
}
h1 {
  text-transform: uppercase;
  background-image: linear-gradient(
    -5deg,
    #2e2e30 0%,
    #d0cad7 29%,
    #ff1361 67%,
    #ece516 100%
  );
  background-clip: border-box;
  background-size: 200% auto;
  color: rgb(232, 222, 222);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
      font-size: 30px;
}
