button{
    background-color:rgb(236, 198, 188);
    width:75px;
    height:75px;
    border-radius: 20%;
    /* fit-content:auto; */
    /* text-wrap:auto; */
    /* justify-content: center; */
    cursor: pointer;
    font-size: 20px;
    border: none;
    /* margin-top: 10px; */
}
button:hover{
    background-color:rgb(242, 234, 234) ;
}


.container{
     
     padding:20px;
    
     text-align: center;
}

input{
    justify-content: center;
    font-size: 20px;
    height: 53px;
    width: 222px;
    border: 2px solid black;
    border-radius: 15px;
    text-align: right;
    
}
body{
    background:radial-gradient(rgb(209, 142, 133),white);
   
}
.table{
    border: 2px solid black;
     border-radius: 5%;
     background-color: rgb(144, 132, 182);
     padding:20px;
    margin:auto;
    display:inline-block;
}
/* tr {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
 } */

 .span-two{
    width:113px;
    background-color: red;
 }
