button{
    background-color:rgb(241, 241, 240);
    width:55px;
    height:55px;
    border-radius: 40%;
    /* fit-content:auto; */
    /* text-wrap:auto; */
    /* justify-content: center; */
    cursor: pointer;
    font-size: 20px;
    border: none;
    /* margin-top: 10px; */
    box-shadow: inset 3px 3px 7px rgb(108, 110, 108), 3px 4px 3px black;
    margin:3px;
}
button:hover{
    background-color: #fda10a;
}


.container{
     
     padding:20px;
    
     text-align: center;
}

input{
    justify-content: center;
    font-size: 20px;
    height: 60px;
    width: 222px;
    /* border: 2px solid black; */
    border-radius: 15px;
    text-align:end;
    box-shadow: inset 6px 6px 13px rgb(161, 157, 157),6px 6px 13px rgb(39, 24, 24);
    font-weight: bold;
    font-size: 40px;
    color: black;
    margin-bottom: 40px;

}
body{
    background:radial-gradient(rgb(238, 231, 231),rgb(248, 243, 243));
   
}
.table{
    /* border: 2px solid rgb(251, 9, 9); */
     border-radius: 10%;
     background-color: rgb(254, 254, 254);
     padding:29px;
    margin:auto;
    display:inline-block;
    box-shadow: inset 5px 5px 13px rgb(129, 125, 129), 5px 5px 15px rgb(90, 83, 92);
}
/* tr {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
 } */

 .span-two{
    width:113px;
    background-color:#fda10a;
 }
h1 {
    text-transform: uppercase;
    background-image: linear-gradient(
      -5deg,
      #2e2e30 0%,
      #d0cad7 29%,
      #ff1361 67%,
      #ece516 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: rgb(232, 222, 222);
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    /* display: inline-block; */
        font-size: 30px;
  }
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
  .operators{
    background-color: #fda10a;
  }
